site_name: JoeAv's blog
site_url: https://joeav01.github.io
site_description: This is JoeAv's blog.
repo_url: https://github.com/joeav01/joeav01.github.io
repo_name: joeav01/joeav01.github.io
site_author: JoeAv

theme:
  name: "material"
  logo: assets/icons/logo.jpg
  favicon: assets/icons/favicon.ico
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - toc.integrate
    - search.suggest
    - search.highlight
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

plugins:
  - search
  - minify:
      minify_html: true

markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.superfences
  - pymdownx.tasklist

extra_javascript:
  - javascripts/open_new_tab.js

extra_css:
  - stylesheets/extra.css
  
nav:
  - Home: index.md

  - Self-Learning:
      - Index: Self-Learning/Index.md

  - ZJU-Courses:
      - C Programming: ZJU-Courses/C Programming.md

  - Lab:
      - Index: Lab/Index.md

  - Recommendations:
      - Index: Recommendations/Index.md